* {
    /*outline: 1px solid red;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .image-section {
        order: -1;
    }
}