#game-id {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#game-id canvas {
    /* original canvas size */
    width: 1440px;
    height: 1080px;

    display: block;
    aspect-ratio: 4 / 3;
    transform-origin: top left;
    transform: scale(0.9);

    /* canvas outline */
    border: none;
    border-radius: 8px;
    transition: opacity 1000ms ease-in;
    opacity: 0;
}

#game-id canvas.visible {
    border: 6px solid black;
    opacity: 1;
}