#page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    gap: 35px;
    font-family: 'Clear Sans', serif;
}

#page-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    text-align: left;
    gap: 1rem;
}

#page #showGameButton {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #000000;
    object-fit: contain;
    display: block;
}

#page h1 {
    font-weight: bold;
    font-size: 3rem;
    color: #0098F0;
    margin: 0 0 0 0;
}

#page p {
    font-size: 1.2rem;
    margin: 0;
    color: #000000;
}

#page a {
    color: #0098F0;
}

#page a:visited {
    color: #0098F0;
}